<div class="card">
  <div class="card-header h5">
    {{data.titulo.slice(0,13)}} <span>{{data.titulo.slice(13,27)}}</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <img
          class="img-thumbnail mx-auto img-fluid m-4"
          [src]=data.image alt="">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 text-justify mt-4">
        <p *ngFor="let item of data.parrafos">{{item}}</p>
      </div>
    </div>
  </div>
</div>
