<div class="card">
  <div class="card-header h5">
    Bienvenido a <span>RYM Consulting</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <img
          class="img-thumbnail mx-auto img-fluid m-4"
          src="https://firebasestorage.googleapis.com/v0/b/rymconsulting-a01e2.appspot.com/o/imagenes%2FRYMLOGO.png?alt=media&token=5d41d6dc-27ac-4189-9ab7-b8cf225e6375" alt="">
      </div>
      <div class="col-8 text-justify mt-3">
        <p>Agencia de consultores profesionales, la cual se encarga de dar soporte a
          clientes que pueden ser tanto pequeñas, medianas o grandes empresas.</p>
        <p>
          Somos una empresa auditora con dos años de experiencia en el sector de la informática, fundada en el año 2019,
           hemos apoyado hasta ahora a algunas empresas garantizándole que estén siempre operando bajo los estándares
          recomendados basados en la seguridad informática en general: las aplicaciones que maneja, los usuarios, la información, etc
        </p>
        <p>
          La confianza que nuestros clientes depositan en nosotros queda satisfecha cuando logramos reducir el impacto
          negativo que pueden provocar en las empresas los ataques que se pueden producir a los elementos vulnerables de las mismas.

        </p>
        <p>
          Estamos comprometidos a siempre bridar un servicio óptimo
          y oportuno que ayude a mejorar en todo momento el desarrollo de sus operaciones.
        </p>

      </div>
    </div>
  </div>
</div>
