<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
    </section>
    <section class="">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0" *ngFor="let item of enlaces">
          <h5 class="text-uppercase">{{item.titulo}}</h5>

          <ul class="list-unstyled mb-0">
            <li class="text-white" *ngFor="let enlace of item.enlaces.titulos; let i = index">
              <a href="{{item.enlaces.enlaces[i]}}" class="text-white">{{enlace}}</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © {{getYear()}} Copyright
    <a class="text-white"  href="{{paginadata.url }}" target="_blank">{{paginadata.nombre}}</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
