<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->



    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Servicios</h5>

          <ul class="list-unstyled mb-0 ">
            <li>
              <a href="#!" class="text-white">Auditoría de infraestructura. </a>
            </li>
            <li>
              <a href="#!" class="text-white">Auditoria de Riezgos Informaticos.</a>
            </li>
            <li>
              <a href="#!" class="text-white">Auditoria de Continuidad de Caidas.</a>
            </li>
            <li>
              <a href="#!" class="text-white">Auditoria de Garantia de Eficiencia de Red.</a>
            </li>
            <li>
              <a href="#!" class="text-white">Seguridad de Plataformas.</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Sitios de Interes</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.indotel.gob.do/" class="text-white">INDOTEL.</a>
            </li>
            <li>
              <a href="https://www.onapi.gov.do/" class="text-white">ONAPI.</a>
            </li>
            <li>
              <a href="https://presidencia.gob.do/" class="text-white">Presidencia de la Republica Dominicana.</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->


        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contactos</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-white">raffy.a.rodriguez@gmail.com</a>
            </li>
            <li>
              <a href="#!" class="text-white">yanelaaraujo12@gmail.com</a>
            </li>
            <li>
              <a href="#!" class="text-white">michaelrafaelventura01@gmail.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="rymconsulting.web.app">rymconsulting.web.app</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
