

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-custom-2">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" [routerLink]="['/']">{{data.titulo}}</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of enlaces">
          <a class="nav-link" [routerLink]=item.enlace>{{item.nombre}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
