

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-custom-2">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" [routerLink]="['/']">RYM Consulting</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nosotros']">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/servicios']">Servicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
        </li>
        <!-- Navbar dropdown -->
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
