<div class="card">
  <div class="card-header h5">
    {{data.page.titulo.slice(0,21)}} <span>{{data.page.titulo.slice(22,36)}}</span>
  </div>
  <div class="card-body">
    <div class="row text-justify">
      <div class="row mb-4 card-header">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
          <img
            class="img-thumbnail mx-auto img-fluid m-4"
            [src]=data.page.imagen alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10 mt-4 ">
          <p>
            {{data.page.descripcion}}
          </p>
        </div>
      </div>
      <div class="row m-2">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center mb-5 mt-2 frstDiv">
          <p class="h5">{{data.page.subtitulo}}</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 row p-2 mx-auto d-flex justify-content-start" *ngFor="let item of data.opciones">
          <div id ="{{item.id}}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <img
              [src]="item.imagen"
              class="img-thumbnail img-fluid m-4 imgshow"
            >
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scndDiv mt-4">
            <p class="font-weight-bold text-center">{{item.titulo}}</p>
            <p class="h7">{{item.descripcion}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
