span{
  font-weight: bold;
  color: #295F9F;
}

.card{
  background-color: #F7F7F7;

}
.card-body{
  padding: 50px;
}

.frstDiv{
  border-bottom: 2px rgb(219, 219, 219) solid;
}

.scndDiv{
  border-bottom: 1px rgb(219, 219, 219) solid;
}

.option{
  min-height: 100px;
  display: flex;
}

.imgshow{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #ddd;
  width: 180px;
  height: 130px;
}
