<div class="card">
  <div class="card-header">
    Bienvenido a <span>RYM Consulting</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <img
          class="img-thumbnail mx-auto img-fluid m-4"
          src="https://firebasestorage.googleapis.com/v0/b/rymconsulting-a01e2.appspot.com/o/imagenes%2FRYMLOGO.png?alt=media&token=5d41d6dc-27ac-4189-9ab7-b8cf225e6375" alt="">
      </div>
      <div class="col-8 text-justify mt-3 ">
        <p>Agencia de consultores profesionales, la cual se encarga de dar soporte a
          clientes que pueden ser tanto pequeñas, medianas o grandes empresas.</p>
        <p>
          Brindamos Servicios De Auditoría, Consultoría Y Asesoría Tecnologica.
        </p>
        <p>
          Nuestra mayor satisfacción es el reconocimiento de nuestros clientes.
          Sabemos que ello sólo es posible gracias a un trato muy personal, a las ventajas de un eficaz modelo de trabajo, y a la dedicación y competencia técnica de cada miembro del equipo.
        </p>
        <p>
          Estamos atentos a la evolución del mercado para adaptarnos en todo momento a los cambios y a las nuevas orientaciones.
          Sólo así podemos ofrecer a nuestros clientes un servicio integral y multidisciplinario que de respuesta precisa y eficaz a todas sus necesidades.
        </p>

      </div>
    </div>
  </div>
</div>
