<div class="card">
  <div class="card-header h5">
    Quienes Somos en <span>RYM Consulting</span>?
  </div>
  <div class="card-body">
    <div class="row mb-2 card-header">
      <div class="col-2">
        <img
          class="img-thumbnail mx-auto img-fluid m-4"
          src="https://firebasestorage.googleapis.com/v0/b/rymconsulting-a01e2.appspot.com/o/imagenes%2FRYMLOGO.png?alt=media&token=5d41d6dc-27ac-4189-9ab7-b8cf225e6375" alt="">
      </div>
      <div class="col-10 text-justify mt-3 ">
        <p>
          Somos una firma auditora que ofrece soluciones de Seguridad Informática por supuesto basadas en salvaguardar el valor más preciado de las instituciones: La información, así como también de los usuarios, de la red, y de las aplicaciones.
        </p>
      </div>
    </div>
    <div class="row m-2 text-justify">
      <div class="col-6 scndDiv">
        <div class="row m-4 ">
          <div class="col-4">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/rymconsulting-a01e2.appspot.com/o/imagenes%2Fmision-removebg-preview.png?alt=media&token=350e8fd9-8575-4f5b-aeb7-9c5ac1350dff"
              class="img-thumbnail mx-auto img-fluid m-4 imgshow"
            >
          </div>
          <div class="col-8 mt-2">
            <p class="font-weight-bold">MISION</p>
            <p class="h7">Brindar a nuestros clientes servicios de calidad, ofreciendo soluciones confiables y concretas de acuerdo a sus necesidades buscando siempre aumentar la competitividad organizacional en beneficio de nuestros clientes.</p>
          </div>
        </div>
      </div>
      <div class="col-6 scndDiv">
        <div class="row m-4 ">
          <div class="col-4">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/rymconsulting-a01e2.appspot.com/o/imagenes%2FVisi%C3%B3n.png?alt=media&token=f4af93e6-39ab-4b27-a39e-c2e57970d138"
              class="img-thumbnail mx-auto img-fluid m-4 imgshow"
            >
          </div>
          <div class="col-8 mt-2">
            <p class="font-weight-bold">VISION</p>
            <p class="h7">Ser una firma auditora que ocupe un lugar entre las empresas líderes tanto a nivel nacional como internacional, buscando siempre mediante los servicios de auditoría, asesoría y consultoría, apoyar a nuestros clientes contribuyendo al mejoramiento y crecimientos de sus organizaciones.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-2 text-justify">
      <div class="col-12">
        <p class="h5" style="text-align: center;">ESTAMOS COMPROMETADOS CON:</p>
      </div>
      <div class="col p-5">
        <div style="text-align: center;">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/rymconsulting-a01e2.appspot.com/o/imagenes%2Fconfidencialidad-removebg-preview.png?alt=media&token=ac187725-34e8-4ab5-818c-a36e7b4039a8"
            class="img-thumbnail mx-auto img-fluid m-4 imgshowValores"
            >
            <p class="h6">RESPONSABILIDAD</p>
        </div>
        <div>
          <p class="h7">
            Ponemos siempre nuestro mayor empeño para lograr Cumplimiento de lo que lo ofrecemos a nuestros clientes.
          </p>
        </div>

      </div>
      <div class="col p-5">
        <div style="text-align: center;" >
          <img
            src="https://firebasestorage.googleapis.com/v0/b/rymconsulting-a01e2.appspot.com/o/imagenes%2Fintegridad.jfif?alt=media&token=5324da1d-4603-40cd-be48-a45581035e90"
            class="img-thumbnail mx-auto img-fluid m-4 imgshowValores"
          >
          <p class="h6">INTEGRIDAD</p>
        </div>
        <div>
          <p class="h7">Actuamos con ética tanto en lo personal como en lo profesional.</p>
        </div>
      </div>
      <div class="col p-5">
        <div style="text-align: center;">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/rymconsulting-a01e2.appspot.com/o/imagenes%2Fresponsabilidad.png?alt=media&token=c074bfd0-bbcc-4179-ac2a-a631554965bf"
            class="img-thumbnail mx-auto img-fluid m-4 imgshowValores"
          >
          <p class="h6">CONFIDENCIALIDAD</p>
        </div>
        <div>
          <p class="h7">Estamos comprometidos a no revelar ningún tipo de información de nuestras clientes especialmente aquellas que son sensibles y confidenciales</p>
        </div>
      </div>
      <div class="col p-5">
        <div style="text-align: center;">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/rymconsulting-a01e2.appspot.com/o/imagenes%2FEXELENCIA.jpeg?alt=media&token=63eed340-5fa8-42af-82cb-d75c5762caed"
            class="img-thumbnail mx-auto img-fluid m-4 imgshowValores"
          >
          <p class="h6">EXELENCIA</p>
        </div>
        <div>
          <p class="h7">Ante todo, perseverancia para lograr mejoramiento continuo, innovación, liderazgo tratando siempre de superar las expectativas de nuestros clientes y alcanzar los objetivos corporativos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
