<div class="card">
  <div class="card-header h5">
    Quienes Somos en <span>RYM Consulting</span>?
  </div>
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-2">
        <img
          class="img-thumbnail mx-auto img-fluid m-4"
          src="https://firebasestorage.googleapis.com/v0/b/rymconsulting-a01e2.appspot.com/o/imagenes%2FRYMLOGO.png?alt=media&token=5d41d6dc-27ac-4189-9ab7-b8cf225e6375" alt="">
      </div>
      <div class="col-10 text-justify mt-3 ">
        <p>
          Somos una firma auditora que ofrece soluciones de Seguridad Informática por supuesto basadas en salvaguardar el valor más preciado de las instituciones: La información, así como también de los usuarios, de la red, y de las aplicaciones.
        </p>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</div>
