<div class="card">
  <div class="card-header h5">
    {{data.page.titulo.slice(0,16)}} <span>{{data.page.titulo.slice(16,32)}}</span>
  </div>
  <div class="card-body">
    <div class="row mb-2 card-header">
      <div class="col-2">
        <img
          class="img-thumbnail mx-auto img-fluid m-4"
          [src]=data.page.imagen alt="">
      </div>
      <div class="col-10 text-justify mt-3 ">
        <p>
          {{data.page.descripcion}}
        </p>
      </div>
    </div>
    <div class="row m-2 text-justify" >
      <div class="col-6 scndDiv" *ngFor="let item of data.opcionesPrincipal">
        <div class="row m-4 ">
          <div class="col-4">
            <img
              [src]=item.imagen
              class="img-thumbnail mx-auto img-fluid m-4 imgshow"
            >
          </div>
          <div class="col-8 mt-2">
            <p class="font-weight-bold">{{item.titulo}}</p>
            <p class="h7">{{item.descripcion}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-2 text-justify">
      <div class="col-12">
        <p class="h5" style="text-align: center;">{{data.page.subtitulo}}</p>
      </div>
      <div class="col-3 mx-auto" *ngFor="let item of data.opcionesSecundarias">
        <div style="text-align: center;" >
          <img
            [src]=item.imagen
            class="img-thumbnail mx-auto img-fluid m-4 imgshowValores"
          >
          <p class="h6">{{item.titulo}}</p>
        </div>
        <div>
          <p class="h7">{{item.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
